@font-face { font-family: Basteleur; src: url('Basteleur-Bold.ttf'); } 

html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
}

h1 {
    font-family: Basteleur;
}

/* #main {
    flex: 80%;
} */
nav ul {
    font-family: Basteleur;
    margin: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
}

#gradient {
    background-image: linear-gradient( 100deg, #F0FF00 10%, #58CFFB 100%);
}

nav {
    background-color: black;
    color: white;
}

#index-flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#portfolio-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

portfolio div {
    padding: 2vw;
}

#about-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

about div {
    display: flex;
    background-color: greenyellow;
    width: 300px;
    padding: 5vw;
}

#blog-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vw 20vw 2vw 20vw;
}

.blog h3 {
    font-family: Basteleur;
}